.badge {
  color: #999999;
  border: 1px solid;
  background-color: transparent;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #fff;
  background-color: transparent;
}


